@tailwind base;
@tailwind components;
@tailwind utilities;

.play_button {
  border-top: 10px solid transparent;
  border-bottom: 10px solid transparent;
  border-left: 15px solid black;
  margin-top: 20px;
}
